@model Person
@using System.Collections.Generic


<div class="row">
    <div class="col-3">
        @Model.FirstName
    </div>
    <div class="col-3">
        @Model.LastName
    </div>
    <div class="col-3">
        @Model.Phone
    </div>
    <div class="col-2">
        @Model.City
    </div>
    <div class="col-1">
        @Model.Id
    </div>
</div>