@model MVCAppAssignment2.Models.Data.Person
@*  The card partial view for the first display *@


<div class="card " style="width: 10rem; background-color: beige; float:left;" id="@("crd"+Model.Id)">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body">
        <h5 class="card-title">
            @Model.FirstName
        </h5>
        <p class="card-text">
            @Model.LastName<br />
            @Model.Phone<br />
            @(Model.InCity == null? "Oops!" : Model.InCity.Name)
        </p>
        <a class="btn btn-danger bt btn-sm" asp-action="Remove" asp-controller="People" asp-route-id="@Model.Id">Remove</a>
    </div>
</div>


