@model Person
@using System.Collections.Generic

@* This is a partial view of one single person - typically called from AllPersonsPartial view*@
@* This partial view is allso called from the About to replace the (about) info partial view*@

<div class="row" id="@("per" + Model.Id)">
    <div class="col-2">
        @Model.FirstName
    </div>
    <div class="col-2">
        @Model.LastName
    </div>
    <div class="col-2">
        @Model.Phone
    </div>
    <div class="col-2">
        @(Model.InCity==null? "Oops!": Model.InCity.Name)
    </div>
    <div class="col-2">
        @Model.PersonLanguages.Count
    </div>
    <div class="col-1">
        <a class="btn btn-info btn-sm" asp-action="LangEdit" asp-controller="People" method="post" asp-route-id="@Model.Id">Edit Lang</a> @* was:value="@Model.Id"  *@
    </div>
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
    {

        <div class="col-1">
            <button class="btn btn-warning btn-sm" onclick="DeletePerson(@Model.Id ,event)" id="@("del"+@Model.Id)">Delete</button>
        </div>
    }
</div>
