@model Person
@using System.Collections.Generic

@* This is a partial view of one single person - typically called from AllPersonsPartial view*@
@* This partial view is allso called from the about to replace the about info partial view*@

<div class="row" id="@("per" + Model.Id)">
    <div class="col-2">
        @Model.FirstName
    </div>
    <div class="col-2">
        @Model.LastName
    </div>
    <div class="col-2">
        @Model.Phone
    </div>
    <div class="col-2">
        @Model.City
    </div>
    <div class="col-1">
        @Model.Id
    </div>
    <div class="col-1">
        <button class="btn btn-info btn-sm" onclick="About(@Model.Id , event)" id="@("ab"+@Model.Id)">Details</button>
    </div>
    <div class="col-1">
        <button class="btn btn-warning btn-sm" onclick="DeletePerson(@Model.Id ,event)" id="@("del"+@Model.Id)">Delete</button>
    </div>
</div>