@model MVCAppAssignment2.Models.ViewModel.People;

@{
    ViewData["Title"] = "People";
}

<h2>People</h2>

@*@if (Model.PersonList.Count > 0)     // Lets start checking the Model data. Kan hela Model vara null förresten??
    {
        <div id="ListContainer">      //===THE OLD HTML TABLE TRICK===
            <table id="ListList">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone nr.</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                @foreach (Person aPerson in Model.PersonList)
                {
                    <tr>
                        <td>@aPerson.FirstName</td>
                        <td>@aPerson.LastName</td>
                        <td>@aPerson.Phone</td>
                        <td>@aPerson.City</td>
                        <td><a asp-action="Remove" asp-controller="People" asp-route-id="@aPerson.Id">Remove</a></td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <h5>No data to show.</h5>
    }
    <hr />*@

@if (Model.PersonList.Count > 0)
{

    @*<div class="row">             //===THE BOOTSTRAP LOOSE TABLE TRICK===
            <div class="col-3">
                <h5>First Name</h5>
            </div>
            <div class="col-3">
                <h5>Last Name</h5>
            </div>
            <div class="col-3">
                <h5>Phone</h5>
            </div>
            <div class="col-2">
                <h5>City</h5>
            </div>
            <div class="col-1">
                <h5>Action</h5>
            </div>
        </div>*@

    @foreach (Person aPerson in Model.PersonList)  //===THE BOOTSTRAP CARDS TRICK===
    {
        <partial name="../Shared/_personThumbnail" model="aPerson" />
    }

    <div style="clear:both"></div> <!--- Resets the float:left in the Cards -->

}
else
{
    <h5>No Persons. Start with Countries, then Cities!</h5>
}


<hr />
<h4>Filter the list</h4>
<form asp-action="Filter" asp-controller="People" method="post">
    <label asp-for="filter"></label>
    <input asp-for="filter" />
    <span asp-validation-for="filter"></span>
    <button>Use filter</button>
    <button type="reset">Reset</button>
</form>

<hr />
<h4>Add person</h4>

<form asp-action="Create" asp-controller="People" method="post">

    <label asp-for="Person.FirstName"></label>
    <input asp-for="Person.FirstName" />
    <span asp-validation-for="Person.FirstName"></span>

    <label asp-for="Person.LastName"></label>
    <input asp-for="Person.LastName" />
    <span asp-validation-for="Person.LastName"></span>

    <label asp-for="Person.Phone"></label>
    <input asp-for="Person.Phone" />
    <span asp-validation-for="Person.Phone"></span>

    @*<label asp-for="Person.CityId"></label>
        <input asp-for="Person.CityId" />
        <span asp-validation-for="Person.CityId"></span>*@



    <label asp-for="CityId"></label>    @* eller CountryId *@
    <select asp-for="CityId">
        @foreach (City aCity in Model.CityList)
        {
            <option value="@aCity.Id">@aCity.Name</option>

        }
    </select>
    <span asp-validation-for="CityId"></span>


    <button>Create</button>
    <button type="reset">Reset</button>

</form>

